header {
   background-color: #000000;
}
body {
    background-color: #1F1F1F;
}
.nav {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    background: black;
    position: absolute;
    width: calc(100% - 10px);
    top: 0;
}

.left, .right {
    height: 50px;
    padding: 0px 10px 0px 10px;  
  }
  
.left {
    display: flex;
    justify-content: left;
    padding: 0px;
}

.right {
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.right a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 10px 0px 10px;  
}

.heroImg {
    display: flex;
    height: 300px;
    padding: 50px;
    margin: 0 auto;
    /* border: 1px solid #eb392c; */
    justify-content: center;
}

.images-profile {
    display: flex;
    justify-content: center;
    width: 1280px;
}

.images-profile img {
    padding: 0px 10px 0px 10px;  
    justify-content: center;
}

.article p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    color: #fafafa;
    background-color: #1F1F1F;
    max-width: 820px;
    margin: 0 auto;    
    /* border: 1px solid #eb392c; */
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }


.copyright, .social {
    height: 50px;
    padding: 0px 10px 0px 10px;  
}

.copyright {
    display: flex;
    justify-content: left;
    padding: 0px;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    color: white;  
    /* border: 1px solid #c8eb2c;    */
}

.social {
    /* border: 1px solid #2cd5eb;  */
    display: flex;
    align-items: center;
    justify-self: flex-end;
}

.footer a {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-decoration: none;      
    padding: 0px 10px 0px 10px;   
    /* border: 1px solid #2cd5eb;  */
}

.footer {
    display: flex;
    justify-content: space-between;
    background: black;
    margin: 0px;
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
}

a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
  }
  
a:active {
    text-decoration: underline;
  }